@import "reset";
@import "variables/globals";
@import "themes/dark";
@import "themes/normal";

.app {
    font: var(--font-content-m);
    background: var(--main-bg);
    color: var(--accent-txt);
    width: 100%;
    min-height: 100%;
}

.content-page {
    display: flex;
    flex-wrap: wrap;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
    z-index: 1;
}

h1,h2,h3,h4,h5,h6, button {
    font-family: var(--font-family-headers);
}
