# Пишем /build , чтобы не было проваливания вниз по остальным директориям,
# т.к. имеем папку с таким же названием, которую нужно грузить на гит реп,
# в папке config
/build

node_modules

# На случай если придется перейти на веб-шторм, что вряд ли но на всякий
idea

/storybook-static
