.sidebar {
    min-height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--standart-el);
    transition: width 0.25s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 10px;
    overflow-x: hidden;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switchers {
    align-self: flex-end;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}