@import "reset";
@import "variables/globals";
@import "themes/dark";
@import "themes/normal";

.app {
    font-size: 30px;
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--prm-color);

    min-height: 100vh;
}