.app.dark {
    --bg-color: rgb(0 73 73);
    --invert-bg-color: rgb(230 230 230);
    --prm-color: rgb(230 230 230);
    --invert-prm-color: rgb(10 10 10);
    --sec-color: rgb(0 216 187);
    --invert-sec-color: rgb(0 73 73);
}