.app.light {
    --accent-el: linear-gradient(90deg, #B0DAB9, #DAD299);
    --standart-el: #E5E5E5;
    --main-bg: #F2F2F2;
    --sec-bg: #C6D7A9;
    --accent-txt: #123241;
    --invert-accent-txt: #EDCDBE;
    --pale-txt: #95939C;
}